body {
    overflow: hidden;
}

* {
    font-family: 'Roboto', sans-serif;
    --cardWidth: calc(var(--cardScale) * var(--fullCardWidth));
    --cardHeight: calc(var(--cardScale) * var(--fullCardHeight));
}

p {
    margin: 0;
}

:root {
    --cardScale: 0.8;
    --fullCardWidth: 10.8vmax;
    --fullCardHeight: 16.56vmax;
}

#deck {
    width: var(--cardWidth);
    height: var(--cardHeight);

    background-image: url(/files/img/cards/back/125.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#disposePile {
    width: var(--cardWidth);
    height: var(--cardHeight);
}

#disposePileCard {
    border-radius: 10px;
    border: 2px solid black;
    padding: 0.5vmax;

    width: 100%;
    height: 100%;
}

.hand {
    display: flex;
    gap: 1vmax;
}

.hand>.card {
    width: var(--cardWidth);
    height: var(--cardHeight);

    background-image: url(/files/img/cards/back/1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.hand>.card:nth-child(4n) {
    rotate: -3deg;
    transform: translateY(-10px);
}

.hand>.card:nth-child(4n + 1) {
    rotate: 174deg;
    transform: translateY(6px);
}

.hand>.card:nth-child(4n + 2) {
    rotate: -1deg;
    transform: translateY(-5px);
}

.hand>.card:nth-child(4n + 3) {
    rotate: 183deg;
    transform: translateY(20px);
}

p.label {
    margin: auto;
    width: 50%;
    position: relative;
    top: -1.3vmax;
}

div.label {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.label {
    font-size: 1.1vmax;
    font-weight: bold;
}

.selectable {
    cursor: pointer;
    filter: drop-shadow(0px 0px 59px #ffffff) brightness(1.2);
    border: 7px solid #00ae00 !important;
}

.not-selectable {
    cursor: not-allowed;
    filter: brightness(0.4) blur(1.3px);
}

#state {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    background-color: white;
    cursor: wait;
}

#state>p {
    font-weight: 500;
    font-size: 5vmax;
}

.gameCenter {
    --cardScale: 0.9;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.gameCenter>div {
    transform: translateY(-3.2vmax);
    display: flex;
    gap: 3vw;
}

div:has(>div.label) {
    padding: 1vmax;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2vh;
}

#drawnCard {
    width: var(--cardWidth);
    height: var(--cardHeight);

    border-radius: 10px;
    border: 2px solid black;
    padding: 0.5vmax;
}

#ourHand {
    padding-top: 2vmax;
    padding-left: 2vmax;
    padding-right: 2vmax;
    padding-bottom: 1vmax;

    transform: translateY(-1vmax);

    border: 2px solid black;
    border-radius: 10px;
}

div:has(#ourHand) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div:has(#ourHand)>.label {
    transform: translateY(-1.5vmax);
}

.hand.player1 {
    --cardScale: 1;

    rotate: -90deg;
    position: fixed;
    top: 19vmax;
    right: -13vmax;
}

.hand.player2 {
    --cardScale: 1;
    rotate: 90deg;
    position: fixed;
    top: 19vmax;
    left: -13vmax;
}

div:has(.hand.player3) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hand.player3 {
    rotate: 180deg;
}