* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --cardWidth: 15vmax;
    --cardHeight: 23vmax;
}

#deck {
    margin: 3vmax;
    width: var(--cardWidth);
    height: var(--cardHeight);

    background-image: url(/files/img/cards/back/125.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.hand {
    margin: 2vmax;
    display: flex;
    gap: 1vmax;
}

.hand>.card {
    width: var(--cardWidth);
    height: var(--cardHeight);

    background-image: url(/files/img/cards/back/1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.hand>.card:nth-child(4n) {
    rotate: -3deg;
    transform: translateY(-10px);
}

.hand>.card:nth-child(4n + 1) {
    rotate: 174deg;
    transform: translateY(6px);
}

.hand>.card:nth-child(4n + 2) {
    rotate: -1deg;
    transform: translateY(-5px);
}

.hand>.card:nth-child(4n + 3) {
    rotate: 183deg;
    transform: translateY(20px);
}

.label {
    margin: auto;
    width: 50%;

    position: relative;
    top: -1.3vmax;

    font-size: 1.1vmax;
    font-weight: bold;
}

.selectable {
    cursor: pointer;
    filter: drop-shadow(0px 0px 59px #ffffff) brightness(1.2);
}

.not-selectable {
    cursor: not-allowed;
    filter: brightness(0.5);
}